---
const { number } = Astro.props;
const { team } = Astro.props;
const { time } = Astro.props;
const { hints } = Astro.props;
const { image } = Astro.props;
---

<div class="container">
  <div class="innerContainer">
    <h3>#{number} escapers</h3>
    <div class="couple">
      <p>Team:</p>
      <h4>&nbsp;{team}</h4>
    </div>
    <div class="couple">
      <p>Tid tilbage:</p>
      <h4>&nbsp;{time}</h4>
    </div>
    <div class="couple">
      <p>Hints:</p>
      <h4>&nbsp;{hints}</h4>
    </div>
  </div>
  <img src={`/img/${image}.webp`} alt="" />
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    font-family: "Dosis", sans-serif;
    padding-bottom: 4rem;
    padding-inline: 10rem;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .couple {
    display: flex;
  }

  img {
    border-radius: 5px;
    width: 30%;
  }

  @media only screen and (max-width: 1500px) {
    .container {
      padding-inline: 8rem;
    }
  }

  @media only screen and (max-width: 1300px) {
    .container {
      padding-inline: 6rem;
    }

    @media only screen and (max-width: 1100px) {
    .container {
      padding-inline: 4rem;
    }
  }

   @media only screen and (max-width: 900px) {
    .container {
      padding-inline: 3rem;
    }
   
  }

   @media only screen and (max-width: 800px) {
    .container {
      padding-inline: 3rem;
    }
   
    img {
      width: 40%;
    }
  }

   @media only screen and (max-width: 600px) {
    .container {
      padding-inline: 3rem;
    }
   
    img {
      width: 100%;
    }

    .container {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  }
</style>
